* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(15, 29, 57);
    color: #ededed;
    font-family: 'Inter', sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(4, 10, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
#menu-icon{
    display: none;  
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.sapn-img{
    width: 340px;
    height: 360px;
    margin: 0 34px;
    border-radius: 50%;
    box-shadow: 0 0 76px;
    animation: slideRight 3s ease forwards;   
}
.navbar a:hover {
    color: #0ef;
}
   /* header */
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 5% 0;
}

.home-cantent {
    max-width: 600px;
}
.home-cantent h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-cantent h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-cantent h3 span {
    color: #0ef;
}
.home-cantent h1 {
    font-size: 56px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-cantent p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-1 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: cale(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-1 a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
    /* home */
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50 cyan,
        0 0 100px cyan, 0 0 200px cyan
}
.btn:hover {
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}
.about{
    margin: 100px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 1.5rem;
}
.text{
    font-weight: 800;
    margin: 0 0 0 10px;
    color: #0ef;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom:4rem;
}
.about img{
    width: none;
}
.services{
    text-align: center;
    font-size:60px;
    padding-bottom: 70px;
}
.sub-title{
    font-size: 60px;
    text-align: center;
    /* font-size: larger; */
    color: rgb(179, 181, 181);
    margin-bottom: 20px;
}
.sub-title span{
    color:#0ef;
}
.container{
    padding: 90px;
}
.services-list{
    padding: 20px 0 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
}
.services-list div{
    margin: 0 20px;
    background-clip: transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s transform 0.5s;
    box-shadow: 1px 1px 15px #012290f7,
                1px 1px 30px #0053b8f7 
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px; 
    display:inline-block ;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity:0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.read:hover{
     box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.services-list div:hover{
    transform: translateY(-10px);
     box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
 /* skills */
 section{
    display: flex;
    flex-wrap: wrap;
 }
 .container1{
    margin: 0 14px;
    width: 600px;
    padding: 75px 90px;
}
.heading1{
    font-size: xxx-large;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
}
.Technical-bars .bar{
    margin: 40px 0;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s forwards;
}
.Technical-bars .bar .progress-line{
    position: relative;
    width: 100%;
    height: 5px;
    background: #000;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s forwards;
}
@keyframes animate{
    100%{ transform: scaleX(1); }
}
.Technical-bars .bar .progress-line span{
    position: absolute;
    height: 100%;
    background: #0ef;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s forwards;
}
.progress-line.html span{ width:80%; }
.progress-line.css span{ width:75%; }
.progress-line.javascript span{ width:71%; }
.progress-line.jquery span{ width:75%; }
.progress-line.bootstrap span{ width:70%; }
.progress-line span::after{
    content: "";
    position: absolute;
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 1px 8px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    opacity: 0;
    animation: showText 0.5s 1.5s forwards;
}
.progress-line.html span::after{ content:"80%"; }
.progress-line.css span::after{ content:"75%"; }
.progress-line.javascript span::after{ content:"71%"; }
.progress-line.jquery span::after{ content:"75%"; }
.progress-line.bootstrap span::after{ content:"70%"; }
@keyframes showText{
    100%{ opacity:1; }
}
   .radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 20px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 120px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: #000;
    /* fill: transparent; */
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{ animation: animate-path1 1s linear forwards; }
.path-2{ animation: animate-path2 1s linear forwards; }
.path-3{ animation: animate-path3 1s linear forwards; }
.path-4{ animation: animate-path4 1s linear forwards; }
@keyframes animate-path1{ 100%{ stroke-dashoffset: 50; } }   /* 90% */
@keyframes animate-path2{ 100%{ stroke-dashoffset: 75; } }   /* 85% */
@keyframes animate-path3{ 100%{ stroke-dashoffset: 125; } }  /* 75% */
@keyframes animate-path4{ 100%{ stroke-dashoffset: 175; } }  /* 65% */
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 600;
    opacity: 0;
    animation: showText 0.5s 0.8s linear forwards;
}
.radial-bar .text{
    color: #fff;
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 0.8s linear forwards;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
 /* img */
 .main-text{
    padding-top: 15px;
    margin-top: 50px;
 }
 .main-text h2{
    font-size: 60px;
    line-height: 3;
    text-align: center;
 }
 .main-text h2 span{
    color: #0ef;
 }
 .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px, auto)); 
 }
.row{
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
width: 100%;
height: 0;
background: linear-gradient(rgba(0,0,0,0.1),#0ef);
position: absolute;
border-radius: 8px;
left: 0;
bottom: 0;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 40px;
transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 500;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    color: #ff004f;
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
/* ::content */
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 3rem;
    padding-left: 130px;
    margin-top: 130px;
}
.contact-text h2{
    margin: 0 0 100px 0;
    font-size: 90px;
    line-height: 1;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list {
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list i a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icon i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.Contact-list li{
    margin: 0;
}
.Contact-list li i{
    margin:0;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #485e8142;
    color: #06edf1fa;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity:0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.contact-form form .send:hover{
     box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: rgb(4, 10, 57);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.contact-icon{
    margin: 0 0 0 185px;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBttom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.home-imghover{
    margin: opx;
}
.about-img{
    margin: 0px;
}
/* Media Queries */
@media (max-width: 768px) {

   body{
    padding-top: 70px;
    
  }
  .header {
    padding: 15px 5%;
  }
  .logo {
    font-size: 40px;
  }
  #menu-icon{
    overflow-y: auto;
    display: block;
    width: 50px;
    font-size: xx-large;
    animation: slideRight 3s ease forwards;
}
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(4, 10, 52);
    display: none;
    flex-direction: column;
    text-align: center;
  }
  .navbar a {
    margin: 15px 0;
    font-size: 18px;
  }
  .navbar.active {
    display: flex;
  }
  .sapn-img{
    width: 100%;
    margin: 50px 1px;
    height: auto;
  }
  .home-cantent p{
      font-size: 19px;
    text-align: justify;
  }
  .home-1{
    text-align: center;
  }
  .btn{
    margin: 25px 0 0 100px;
  }
  .about {
    padding: 70px 10% 0;
    margin: 50px 0 0;
    align-items: center;
    gap: 1.5rem;
}
.about img{
    margin: 200px 0 0 ;
    width: 100%;
}
.home-1 a{
margin: 22px 20px;
}
.contact{
    align-items: center;
    gap: 3rem;
    padding: 0 20px;
    margin-top: 130px;
 }
 .contact-text h2 {
    font-size: 70px;
    line-height: 1;
    text-align: center;
 }
 .contact-text p {
    text-align: center;
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
 }
 .container {
    padding: 15px;
}
.services-list div {
    margin: 0 20px 50px;
}
.about-text p {
    text-align: justify;
}
.container1 {
    margin: 0px;
    padding: 50px 30px;
}
.about-text h2{
    text-align: center;
}
.about-text h4 {
    text-align: center;
}
.main-text{
    margin: 0px;
}
.contact-form form input, form textarea{
    width: 100%;
}
.portfolio-content{
    gap: 2rem;
    padding: 5px;
}
.contact-form form .send {
    width: auto;
    margin: 0 0 0 25%;
}
.contact-icon{
    margin: 0 0 0 20%;
}
.Contact-list li{
    margin: 0 0 0 40px;
}
.Contact-list li i{
    margin: 0 10px 0 0;
}
.contact-text h4{
    text-align: center;
}
section {
    padding: 0px 15px;
}
.home-imghover{
    margin: 0 0 35px 0;
}
    .about-img{
        margin: 25px 0 0 ;
    }
    .top i {
        display: none;
    }
}






